.container {
    perspective: 1000px;
  }
  
  .pane {
    outline: 2px solid  hsl(209, 100%, 49%);
    box-shadow: 0 0 10px hwb(209 0% 42%), inset 0 0 10px hsl(209, 100%, 29%);
    height: 1cm;
    width: 8cm;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: 0.7s ease;
  }
  
  .input {
    display: none;
  }
  
  .label {
    height: 1cm;
    width: 2cm;
    float: left;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
    padding: 0px;
    position: relative;
    z-index: 1;
    color: hsl(209, 100%, 49%);
    text-align: center;
    padding-top: 10px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 1cm;
    width: calc(2cm);
    z-index: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px hsl(209, 100%, 49%);
    transition: .15s ease;
  }
  
  .label:has(input:checked) {
    color: #212121;
  }
  
  .pane:has(.label:nth-child(1):hover) {
    transform: rotateY(-30deg);
  }
  
  .pane:has(.label:nth-child(4):hover) {
    transform: rotateY(35deg);
  }
  
  .label:has(input:checked) ~ .selection {
    background-color: hsl(209, 100%, 49%);
    display: inline-block;
  }
  
  .label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(6cm * 0/3));
  }
  
  .label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(6cm * 1/3));
  }
  
  .label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(6cm * 2/3));
  }

  .label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(6cm));
  }


 
  .quote{
    background-color:#142739;
    width: 400px;
    overflow: hidden;
    position: fixed;
    top: 22%;
    left: 5%;
    z-index: 1;
    display: flex;
    border-radius: 8px;
    padding-left:5px;
}
.quote .text{

    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 550;
}

.text.sec-text:before{
  z-index: 30;
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #142739;
    border-left: 2px solid #ffffff;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

/* @media (min-width: 900px) { NOT WORKING :L cant make it responsive
  

  quote {
    visibility: hidden;
  }
} */
