

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: rgb(0, 162, 255);
  --secondary-color-dark: #0091ff;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}



 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}





.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--primary-color-extra-light);
  border:5px solid var(--secondary-color);
  
}

.price__card__content {
  
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.price__card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.price__btn {
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.price__btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}
.navbar-link {
  color: black;
  font-size: unset;
  padding: 0 10px;
  margin-block-end: 0;
}

@media (max-width:640px) {
 .price__grid {
  display: block;
 }
 .price__card {
  margin-bottom: 50px;
 }
}

.price__card {
  margin-bottom: 50px;
  background-image:url("../images/1.gif") ;
background-blend-mode:multiply;

 }


 .girl:hover {
  border: 5px solid rgb(119, 0, 130);
 
}


.btngirl{
  border: 2px solid rgb(119, 0, 130);
  border-radius: 10px;
  color:  rgb(119, 0, 130);
}

.btngirl:hover{
  background-color:  rgb(119, 0, 130);;
}
 
.pink{
  
  filter: hue-rotate(55deg);
}


.gender{
  max-width: 500px;
  max-height: 320px;
  

}

.gen:hover{
 border: 10px;
}